@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --cor-primaria: #5eb3c3;
    --cor-secundaria: #444644;
    --cor-terciaria: #e6e7e8;
    font-family: 'Roboto', sans-serif;
}

.container-header {
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    height: 70px;
}

.header-menu ul {
    display: flex;
    list-style: none;
    gap: 25px;
    padding: 50px;

}

.header-menu ul li a {
    text-decoration: none;
    color: white;
}

.main {
    background-color: var(--cor-primaria);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px 50px;
    gap: 80px;
}

.main-col1 {
    width: 40%;

}

.main-col1 figure {
    display: flex;
    justify-content: flex-end;
}

.main-col2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.main-col2 {
    text-align: justify;
}

.sec-1 {
    padding: 30px 50px;
    background-color: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: white;
}

.sec-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 50px;
}

.card {
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

.card figure {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card p {
    text-align: justify;

}

.sec-4{
    height: 400px;
    background-color: var(--cor-terciaria);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.sec-4-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.sec-4 h4{
    font-size: 40px;
}

.sec-3 {
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 50px;
}


.row-principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.row-2 {
    width: 250px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 15px
    
}

.row-2 p {
    text-align: center;
}

.row-principal figure {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-1{
    position: absolute;

    right: 20px;
    top: 170px
    
}

.sec-5{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-terciaria);
    gap: 40px;
}

.sec-5-text{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;

}
.sec-5-text h2{
    font-size: 40px;
}

.sec-5-img{
    width: 40%;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.sec-5-logo{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-final{
    background-color: var(--cor-secundaria);
    color:white;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
    justify-content: center;
    padding: 40px 50px;
    height: 300px;
}

.footer-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

.container-footer-img{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.final{
    background-color: var(--cor-primaria);
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.final span{
    color: white;
    text-align: center;
}